<div class="ui cards">
    {% for item in catalog_items %}
        <div class="card">
            <div class="content">
                <a class="header">
                    {{ item.name }}
                    <div class="right floated">
                        test
                    </div>
                </a>
                <div class="description">
                    {{ item.last_observation }}
                </div>
            </div>
            <div class="right floated content">
                {{ item.last_observation }}
            </div>
        </div>
    {% endfor %}
</div>