<div class="ui relaxed divided list">
    {% for item in catalog_items %}
        <div class="item">
            <div class="content">
                <a class="header">
                    {{ item.name }}
                    <button
                            class="ui right floated button"
                            hx-get="{% url 'observation:index' %}?catalog_id={{ item.id }}"
                            hx-trigger="click"
                            hx-push-url="true"
                            hx-target="#htmx_root">
                        Observe
                    </button>
                </a>
                <div class="description">
                    {{ item.last_observation }}
                    <div class="grid">
                        <div class="grid">
                            <label>Filter</label>
                            <span>{{ item.filter }}</span>
                            <label>Exposure time</label>
                            <span>{{ item.exposure_time }}</span>
                        </div>
                        <div class="grid">
                            <label>Frame</label>
                            <span>{{ item.frame }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>